<dashboard-header>
  <header-logo
    [title]="'Home'"
    [imgUrl]="'https://angular.io/assets/images/logos/angular/logo-nav@2x.png'">
  </header-logo>

  <header-menu></header-menu>

  <user-avatar
    [title]="'User Avatar'"
    [profileLink]="'/'"
    [avatarUrl]="'https://avatars3.githubusercontent.com/u/51125590?s=40&v=4'"
  >
  </user-avatar>

  <user-profile></user-profile>
</dashboard-header>

<dashboard-login (loginSubmitted)="showProfilePopup($event)">
</dashboard-login>

<!-- Default sidebar-->
<dashboard-sidebar></dashboard-sidebar>
<!-- Sidebar with configurable template-->
<dashboard-sidebar [sidebarTemplate]="customSidebar"></dashboard-sidebar>
<ng-template #customSidebar>
  <ul class="item-list">
    <li class="item" (click)="onItemClicked()">Custom Menu 1</li>
    <li class="item" (click)="onItemClicked()">Custom Menu 2</li>
    <li class="item" (click)="onItemClicked()">Custom Menu 3</li>
  </ul>
</ng-template>

<dashboard-footer>
  Static content! Therefore, this text won't be shown!
</dashboard-footer>
